/* main page */
		#demo-1 {
			position: relative; /* can either be relative, absolute or fixed. If position is not set (i.e. static), it would be set to "relative" by script */
			overflow: hidden; /* to bound the empty top space created by inner element's top margin */
			width: 100%;
			height: 100vh;
			background-color: #999;
		}
		.demo-inner-content {
			position: relative; /* if position is not set, the script will set it to 'relative'. */
			z-index: 2; /* if z-index is not set, the script will set it to '2'. */
		    font-size: 1.5em;
		    


		}
	/*nav bar */
	.black{
		background-color: #000;
	}
	
a.navbar-brand {
    font-size: 3em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 3px solid #fff;
    border-radius: 50%;
    padding: 0px 30px 20px 30px;
    margin: 0;
}

.logo-ptk i {
    color: #fff;
    text-shadow: none;
    font-size: .9em;
}

.logo-ptk a:hover {
    color: #fff;
}

a.navbar-brand span {
    display: block;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 4.2px;
    margin-top: -10px;
}
	#menu{
		height: 0px;
	}
	nav{
		position:fixed;
		width:100%;
		background-color: rgba(0,0,0,0.8);
		z-index: 4;
	
	}
	nav ul{

		background:rgba(0,0,0,0.3);
		overflow: hidden;
		color:#fff;
		padding:0px;
		text-align:center;
		margin:0px;
		transition: 1s;


	}
	

	nav ul li{
		display: inline-block;
		padding: 20px;

	}
	nav ul li a{
		color:#fff;
		font-size:20px;
		text-decoration: none !important;
	}

	.menu-icon{

		
		
		position: relative;
		box-sizing: border-box;
		padding:15px 24px;
		cursor: pointer;
		color: #fff;
		display:none;
		
		height: 68px;
	
	}

	.menu-icon span{
		position: relative;
		width: 45px;
		height: 4px;
		background-color: #fff;
		display: block; 
		top:50%;
		left: 50%;
		transform: translate(-50%,-50%);
		box-shadow: 0 2px 2px rgba(0,0,0,.2);
		border-radius: 2px;
		transition: .5s;
		transition-delay:.5s;

	}
	.menu-icon span:before{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #fff;
		display: block;
		top:-10px;
		box-shadow: 0 2px 2px rgba(0,0,0,.2);
		border-radius: 2px;
		transition-property: top,transform;
		transition-delay: .5s,0;
		transition-duration: .5s,.5s;


	}

	.menu-icon span:after{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #fff;
		display: block;
		top: 10px;
		box-shadow: 0 2px 2px rgba(0,0,0,.2);
		border-radius: 2px;
		transition-property: top,transform;
		transition-delay: .5s,0;
		transition-duration: .5s,.5s;
		

	}
	.menu-icon.active span:before{

		top: 0px;
		transform:(45deg);
		-webkit-transform: rotate(45deg); 
		-moz-transform: rotate(45deg); 
	}
    .menu-icon.active span:after{
		top:0;
		transform:(-45deg); 
		-webkit-transform: rotate(-45deg); 
		-moz-transform: rotate(-45deg); 
	}
	.menu-icon.active span{
		background: transparent;
	}
	nav ul li a:hover{
		color: #00a98f;
	}







	/* wraping texts*/
	.wrap{
		width: 100%;
		position:absolute;
		display: block;
		z-index: 3;
	}
	.head5{
		display: block;
		font-weight: 600;
		color:#fff;
		
		line-height: 20px;
		letter-spacing: 4.2px;
	
	}
	.head1,.head2{
		display: block;
		color:#fff;
		letter-spacing: 2px;
		line-height: 1.4em;
		text-shadow: 0 1px 2px rgba(0,0,0,0.37);
		font-weight: 700;
		
	}
div.wrap a{
	color: #fff;
	font-size:17px;
	letter-spacing: 2px;
	text-shadow: 0 1px 2px rgba(0,0,0,0.37);
	border-bottom: 1px solid #fff;
	font-weight: 500;

}
div.wrap a:hover{
	color:#00a98f;
	text-decoration: none;
	border-bottom: 1px solid #007bff;
	transition: 0.8s;

}


/* About us page */

h3.heading{
	letter-spacing: 5px;
	line-height: 2rem;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
	
	font-weight: 700;
	position: relative;


}
h3.heading:after{
	position: absolute;
	content: "";
	width: 8%;
	height: 3px;
	bottom: 0%;
	left: 45%;
	background: #333;
}

.about-grid1 h3{
	font-size: 26px;
    color: #00a98f;
    letter-spacing: 2px;
    line-height: 35px;
}
.about-grid1 p{
	font-size: 16px;
    color: #666;
    line-height: 28px;
    letter-spacing: .2px;
}
.about-grid1 a{
	color: #333;
    font-size: 15px;
    letter-spacing: 2px;
    border-bottom: 1px solid #333;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
}

.about-grid1 a:hover{
	color:#00a98f;
	text-decoration: none;
	border-bottom: 1px solid #007bff;
	transition: 0.8s;
}
.about-grid2 h3,.about-grid3 h3{
	letter-spacing: 2px;
    line-height: 1.4em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    font-size: 2.5em;
    font-weight: 600;
    margin: 1.4em 0;
    color: #fff;
    text-transform: capitalize;
}
.about-grid2 {
	background: url("../img/p1.jpg") no-repeat 0px 0px;
	background-size: cover;
	position: relative;
	z-index: 1;
}
.about-grid3{
	background: url("../img/p4.jpg") no-repeat 0px 0px;
	background-size: cover;
	position: relative;
	z-index: 1;
}
.about-grid2:after,.about-grid3:after {
    border-top: 3px solid #eee;
    border-left: 3px solid #eee;
    content: "";
    display: inline-block;
    left: 15px;
    position: absolute;
    right: 18px;
    top: 15px;
    bottom: 18px;
     z-index: -1;
}
.about-grid2:before,.about-grid3:before {
    border-bottom: 3px solid #eee;
    border-right: 3px solid #eee;
    content: "";
    display: inline-block;
    left: 15px;
    position: absolute;
    right: 15px;
    top: 15px;
    bottom: 15px;
     background: rgba(0, 0, 0, 0.3);
     z-index: -1;
}


/* "what u can find" page */

.find-img1{
	background:url("../img/p1.jpg") no-repeat center;
	background-size: cover;
    position: relative;
}
.find-img2{
	background: url("../img/p4.jpg") no-repeat center;
	background-size: cover;
	position: relative;
}
.find-img3{
	background: url("../img/p3.jpg") no-repeat center;
	background-size: cover;
	position: relative;
}
.find-img1:before,.find-img2:before,.find-img3:before{
	border-bottom: 3px solid #eee;
	border-right: 3px solid #eee;
	content: "";
	display: inline-block;
	left: 15px;
	position: absolute;
	right: 15px;
	top: 15px;
	bottom:15px;
}
.find-img1:after,.find-img2:after,.find-img3:after{
	border-top: 3px solid #eee;
	border-left: 3px solid #eee;
	content: "";
	display: inline-block;
	left: 15px;
	position: absolute;
	right: 15px;
	top: 15px;
	bottom: 15px;
}
.find-text{
	background: #222;
}
.find-text h4{
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	color: #ccc;
}
.find-text p{
	font-size: 15px;
	color: #777;
	line-height: 28px;
	letter-spacing: .2px;

}
.find-text a{
	color:#00a98f;
	font-size: 15px;
	letter-spacing: 2px;
	border-bottom: 1px solid #00a98f;
	text-shadow: 0 1px 2px rgba(0,0,0,0.37);

}
.find-text a:hover{
	border-bottom: 1px solid #eee;
	color: #eee;
	text-decoration: none;
}




/* Barbers Page */

.barber-grid1{
	position: relative;
}
.barber-grid1:before {
    border-bottom: 2px solid #eee;
    border-right: 2px solid #eee;
    content: "";
    display: inline-block;
    left: 15px;
    position: absolute;
    right: 15px;
    top: 15px;
    bottom: 15px;
    z-index: 1;
}
.barber-grid1:after {
    border-top: 2px solid #eee;
    border-left: 2px solid #eee;
    content: "";
    display: inline-block;
    left: 15px;
    position: absolute;
    right: 15px;
    top: 15px;
    bottom: 15px;
    z-index: 1;
}

.barber-grid h4 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: #222;
}
.barber-grid p {
    font-size: 15px;
    color: #777;
    letter-spacing: 1px;
}
.barbers ul li a{
	font-size: 13px;
	display: block;
	color:#00a98f;
	border:1px solid #00a98f;
	width: 36px;
	height: 36px;
	line-height: 36px;
	border-radius: 3px;
}
.barbers ul li a:hover {
    background: #00a98f;
    border: 1px solid #00a98f;
    color: #fff;
}